.jumbotron img {
    width:100%;
}

.jumbotron h1 {
    color:#6910EE;
    text-transform: uppercase;
}

.jumbotron p {
    color:#6910EE;
    font-size: 30px;
}

.jumbotron select {
    color:#6910EE;
    font-size: 30px;
}

.vcenter {
    display: inline-block;
    vertical-align: top;
    float: none;
}

/*This is used to prevent the bootStrap grid from messing up */
.col-md-4:nth-child(3n+1){
    clear: left;
}

.row {
    overflow: hidden;
}

.row img {
    border: 3px solid #021a40;
    padding: 3px;
    max-height: 300px;
    min-width: 360px;
}

.row p {
    font-size: 18px;
    text-align: justify;
}