h1 {
    color:#6910EE;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
}

img {
    float: left;
    width:600px;
    height:600px;
}

p {
    font-size: 25px;
}