h1 {
    color:#6910EE;
    text-transform: uppercase;
}
h2 {
    font-size: 40px;
    text-transform: uppercase;
}

img {
    padding-left: 50px;
    width:800px;
    height:800px;
}

p {
    font-size: 25px;
}